@{
    ViewData["Title"] = "Home Page";
}




<div class="IndexDiv">    
    <p><h1 class="text-center font-weight-bolder">Welcome to Inventory Management System</h1></p>
    <div class>

        <div class="row">
            <p><h4 class="text-center font-weight-bolder" style="margin-right: auto; margin-left: auto">Easiest and Effective way to Maintain your Products Inventory</h4></p>
        </div>
        <div class="row">
            <img src="~/images/shoppingcart.png" class="img-fluid" style="margin:auto"/>
        </div>
    </div>
</div>
